---
---
<div style="
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  overflow: hidden;
">
  <!-- Central Stripe with 3D SVG -->
  <div style="
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    perspective: 1000px; /* Enable 3D Space */
    transform-style: preserve-3d;
  ">
    <svg class="interactive-title" width="80%" height="auto" style="
      max-width: 600px; 
      overflow: visible; 
      --s-x: 0px; 
      --s-y: 10px;
      filter: drop-shadow(var(--s-x) var(--s-y) 20px rgba(0,0,0,0.35));
      transform-origin: center center;
      will-change: transform, filter;
    " viewBox="0 0 888 210" fill="none" xmlns="http://www.w3.org/2000/svg">
      <!-- Base Logo Shape with Neumorphic Filter and Frosted Rim -->
      <path d="M91.8828 0C100.948 0 109.622 1.67655 117.611 4.73438C123.907 1.70071 130.967 0 138.423 0H206.306C210.187 3.86353e-05 213.96 0.464337 217.574 1.33398C221.189 0.464157 224.963 0 228.845 0H296.728C300.609 3.86361e-05 304.382 0.465279 307.996 1.33496C311.611 0.465027 315.385 0 319.267 0H387.149C407.908 0 425.586 13.1789 432.28 31.625H441.884C454.833 12.5402 476.705 0 501.506 0H545.389C549.27 3.86361e-05 553.043 0.465279 556.657 1.33496C560.272 0.465027 564.046 0 567.928 0H635.811C639.692 0 643.465 0.465171 647.08 1.33496C650.695 0.465171 654.468 0 658.35 0H680.978C689.146 5.08298e-05 696.838 2.04418 703.571 5.64355C710.305 2.04382 717.998 0 726.167 0H748.795C752.684 6.29161e-05 756.465 0.466661 760.086 1.33984C763.707 0.466644 767.488 0 771.378 0H839.261C865.77 0.000263886 887.261 21.4915 887.261 48.001V161.14C887.26 187.649 865.77 209.139 839.261 209.14H771.378C767.488 209.14 763.707 208.673 760.085 207.8C756.464 208.673 752.684 209.14 748.795 209.14H726.167C722.281 209.14 718.503 208.674 714.885 207.803C711.267 208.674 707.49 209.14 703.604 209.14H658.35C654.468 209.14 650.695 208.675 647.08 207.805C643.465 208.675 639.692 209.14 635.811 209.14H567.928C554.695 209.14 542.712 203.784 534.029 195.123C525.347 203.783 513.366 209.139 500.134 209.14H477.506C460.995 209.14 446.433 200.802 437.796 188.109H404.231C395.594 200.802 381.032 209.14 364.521 209.14H341.895C333.73 209.14 326.042 207.098 319.311 203.502C312.579 207.098 304.892 209.14 296.728 209.14H274.1C270.202 209.14 266.414 208.671 262.786 207.794C259.158 208.671 255.37 209.14 251.473 209.14H228.845C224.963 209.14 221.189 208.676 217.574 207.806C213.96 208.675 210.187 209.14 206.306 209.14H138.423C125.19 209.14 113.207 203.784 104.524 195.123C95.8416 203.784 83.8604 209.14 70.6279 209.14H48C21.4906 209.14 0.000494818 187.649 0 161.14V48.001C0 21.4913 21.4903 0 48 0H91.8828Z" fill="url(#paint0_linear_17_42)" />
      <path d="M816.633 70.6281H794.005V138.511H816.633V70.6281ZM771.377 48.0005H839.26V161.139H771.377V48.0005Z" fill="white"/>
      <path d="M726.167 48.0005H748.794V161.139H726.167V48.0005Z" fill="white"/>
      <path d="M680.977 138.511H703.605V161.139H658.35V48.0005H680.977V138.511Z" fill="white"/>
      <path d="M613.183 70.6281H590.555V138.511H613.183V70.6281ZM567.928 48.0005H635.811V161.139H567.928V48.0005Z" fill="white"/>
      <path d="M500.133 93.2558H522.761V115.883H500.133V161.139H477.505V72.0005C477.505 58.7457 488.251 48.0005 501.505 48.0005H545.388V70.6281H500.133V93.2558Z" fill="white"/>
      <path d="M341.894 70.6281H319.267V48.0005H387.15V70.6281H364.522V161.139H341.894V70.6281Z" fill="white"/>
      <path d="M274.1 115.883H251.472V161.139H228.844V48.0005H296.727V70.6281C296.727 83.125 286.596 93.2558 274.1 93.2558V70.6281H251.472V93.2558H274.1V115.883ZM274.1 115.883C286.596 115.883 296.727 126.014 296.727 138.511V161.139H274.1V115.883Z" fill="white"/>
      <path d="M183.678 70.6281H161.05V138.511H183.678V70.6281ZM138.422 48.0005H206.305V161.139H138.422V48.0005Z" fill="white"/>
      <path d="M48 48.0005H91.8829C105.138 48.0005 115.883 58.7457 115.883 72.0005V91.8834C115.883 105.138 105.138 115.883 91.8829 115.883H70.6276V161.139H48V48.0005ZM70.6276 93.2558H93.2553V70.6281H70.6276V93.2558Z" fill="white"/>
      <path style="mix-blend-mode: overlay; pointer-events: none;" opacity="1" d="M91.8828 0C100.948 0 109.622 1.67655 117.611 4.73438C123.907 1.70071 130.967 0 138.423 0H206.306C210.187 3.86353e-05 213.96 0.464337 217.574 1.33398C221.189 0.464157 224.963 0 228.845 0H296.728C300.609 3.86361e-05 304.382 0.465279 307.996 1.33496C311.611 0.465027 315.385 0 319.267 0H387.149C407.908 0 425.586 13.1789 432.28 31.625H441.884C454.833 12.5402 476.705 0 501.506 0H545.389C549.27 3.86361e-05 553.043 0.465279 556.657 1.33496C560.272 0.465027 564.046 0 567.928 0H635.811C639.692 0 643.465 0.465171 647.08 1.33496C650.695 0.465171 654.468 0 658.35 0H680.978C689.146 5.08298e-05 696.838 2.04418 703.571 5.64355C710.305 2.04382 717.998 0 726.167 0H748.795C752.684 6.29161e-05 756.465 0.466661 760.086 1.33984C763.707 0.466644 767.488 0 771.378 0H839.261C865.77 0.000263886 887.261 21.4915 887.261 48.001V161.14C887.26 187.649 865.77 209.139 839.261 209.14H771.378C767.488 209.14 763.707 208.673 760.085 207.8C756.464 208.673 752.684 209.14 748.795 209.14H726.167C722.281 209.14 718.503 208.674 714.885 207.803C711.267 208.674 707.49 209.14 703.604 209.14H658.35C654.468 209.14 650.695 208.675 647.08 207.805C643.465 208.675 639.692 209.14 635.811 209.14H567.928C554.695 209.14 542.712 203.784 534.029 195.123C525.347 203.783 513.366 209.139 500.134 209.14H477.506C460.995 209.14 446.433 200.802 437.796 188.109H404.231C395.594 200.802 381.032 209.14 364.521 209.14H341.895C333.73 209.14 326.042 207.098 319.311 203.502C312.579 207.098 304.892 209.14 296.728 209.14H274.1C270.202 209.14 266.414 208.671 262.786 207.794C259.158 208.671 255.37 209.14 251.473 209.14H228.845C224.963 209.14 221.189 208.676 217.574 207.806C213.96 208.675 210.187 209.14 206.306 209.14H138.423C125.19 209.14 113.207 203.784 104.524 195.123C95.8416 203.784 83.8604 209.14 70.6279 209.14H48C21.4906 209.14 0.000494818 187.649 0 161.14V48.001C0 21.4913 21.4903 0 48 0H91.8828Z" fill="url(#glareOverlay)"/>
    <defs>
      <linearGradient id="paint0_linear_17_42" x1="0" y1="104.57" x2="887.261" y2="104.57" gradientUnits="userSpaceOnUse" spreadMethod="reflect">
        <stop stop-color="#FCF9FD"/>
        <stop offset="0.05" stop-color="#A9A0AC"/>
        <stop offset="0.1" stop-color="#FCF9FD"/> <!-- Extra bright pop -->
        <stop offset="0.2" stop-color="#C89E31"/>
        <stop offset="0.32" stop-color="#963A94"/>
        <stop offset="0.5" stop-color="#2B188E"/>
        <stop offset="0.68" stop-color="#963A94"/>
        <stop offset="0.8" stop-color="#C89E31"/>
        <stop offset="0.9" stop-color="#FCF9FD"/> <!-- Extra bright pop -->
        <stop offset="0.95" stop-color="#A9A0AC"/>
        <stop offset="1" stop-color="#FCF9FD"/>
      </linearGradient>
      <linearGradient id="glareOverlay" x1="0" y1="0" x2="887" y2="210" gradientUnits="userSpaceOnUse">
        <stop offset="40%" stop-color="rgba(255,255,255,0)"/>
        <stop offset="48%" stop-color="rgba(255,255,255,0.9)"/>
        <stop offset="50%" stop-color="rgba(255,255,255,1)"/>
        <stop offset="52%" stop-color="rgba(255,255,255,0.9)"/>
        <stop offset="60%" stop-color="rgba(255,255,255,0)"/>
      </linearGradient>
    </defs>
    </svg>
  </div>

  <!-- Bio Text -->
  <p style="
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
    letter-spacing: 0.05em;
    opacity: .64;
  ">KADOKAWA ドワンゴ情報工科学院 高等部2年 野村孟臣</p>
</div>
